.backgroundImage {
    background-image: url("https://besthqwallpapers.com/Uploads/15-4-2019/87588/thumb-program-code-black-backgrounds-programming-background-with-program-code-code.jpg");
    background-size: cover;
    min-height: 430px;
    height: auto;
}

.title h1 {
    text-align: center;
    padding: 110px 110px 20px 110px;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
}

.titleText p {
    text-align: center;
    padding: 10px 15%;
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 150;
    line-height: 1.4;
}

#button {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 25px 45px;
    margin: 18px;
    background-color: #333;
    border: 1px solid rgba(223, 217, 217, 0.952);
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 150;
} 

.button:hover {
    background-color: rgb(228, 224, 224);
    color: #333;
    transition: all .35s ease-in-out;
}

.mainInfo {
    background-color: whitesmoke;
    height: auto;
}

.mainHead h2 { 
    text-align: center;
    padding-top: 3%;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
}

.mainText p {
    columns: 200px 2;
    column-gap: 30px; 
    text-align: center;
    padding: 3% 15%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
}

.addInfo {
    background-color: #333;
    height: auto;
    text-align: center;
}

.webDev {
    display: inline-block;
    width: 270px;
    height: 450px;
    margin-top: 3.75%;
    margin-right: 1%;
    margin-bottom: 3.75%;
    background-color: white;
}

.webDev img, .mobApp img, .techMark img { 
    height: 180px;  
}

.webDev h3, .mobApp h3, .techMark h3 {
    text-align: center;
    padding: 30px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
}

.webDev p, .mobApp p, .techMark p {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
    padding: 0 20px;
}

.mobApp {
    display: inline-block;
    width: 270px;
    height: 450px;
    margin-top: 3.75%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3.75%;
    background-color: white;
}

.techMark { 
    display: inline-block;
    width: 270px;
    height: 450px;
    margin-top: 3.75%;
    margin-left: 1%;
    margin-bottom: 3.75%;
    background-color: white;
}

.postInfo {
    background-color: white;
    height: auto;
}

.postInfo h2 { 
    text-align: center;
    padding-top: 4%;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
}

.postInfo p {
    text-align: center;
    padding: 4% 15%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
}

.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    background-color: black;
}

.split h2 {
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background-color: #2690d4;
}

.split h2 + h2 { 
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background-color: #333;
}

.split p {
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 0 7%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
    color: white;
    background-color: #2690d4;
}

.split p + p {
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    padding: 5%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
    color: white;
    background-color: #2690d4;
}

.split p + p + p {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    padding: 0 7%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.4;
    color: white;
    background-color: #333;
}

.name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: black;
}

.name p {
    grid-column-start: 1; 
    grid-column-end: 2;
    text-align: center;
    padding: 6%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
}

.name p + p {
    grid-column-start: 2; 
    grid-column-end: 3;
}

.name p + p > a {
    color: #2690d4;
    text-decoration: none;
}